.imgem-conteiner {
    display: flex;
    /* Ativa o flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Garante que o contêiner tenha a altura da tela */
}

.imagem-container img {
    max-width: 100%;
    /* Impede que a imagem ultrapasse a largura do contêiner */
    height: auto;
    /* Mantém a proporção da imagem */
    margin: -1px;
}

.text-overlay h1 {
    position: absolute;
    /* Permite sobrepor o texto na imagem */
    top: 30%;
    /* Centraliza verticalmente (ajuste conforme necessário) */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta para centralizar perfeitamente */
    color: white;
    /* Cor do texto, que pode ser alterada conforme desejado */
    text-align: center;
    /* Alinha o texto ao centro */
    font-size: 5rem;
    /* Tamanho do título */
    margin: 0;
    /* Remove margens */
}

.text-overlay h2 {
    position: absolute;
    /* Permite sobrepor o texto na imagem */
    top: 38%;
    /* Centraliza verticalmente (ajuste conforme necessário) */
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajusta para centralizar perfeitamente */
    color: white;
    /* Cor do texto, que pode ser alterada conforme desejado */
    text-align: center;
    /* Alinha o texto ao centro */
    font-size: 2rem;
    /* Tamanho do título */

}

.painel-login {

    position: absolute;
    top: 60%;
    /* Centraliza o painel verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajusta o painel para centralizar exatamente */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo semitransparente */
    padding: 30px;
    border-radius: 8px;
    color: white;
    width: 300px;
    /* Largura do painel de login */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Sombra para destacar o painel */
}

.painel-login input {
    width: 100%;
    padding: 5px;
    transform: translate(-3%, -40%);
    margin: 10px 0;
    border: 4px solid #ccc;
    border-radius: 8px;
}

/* Estilo do botão de login */
.painel-login button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.painel-login button:hover {
    background-color: #45a049;
    transform: translate(-50%, -50%);
    
}
.painel-login h3
{
    transform: translate(35%, -50%);
    height: auto;
    font-size: 2rem;

}
